{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
    <h2>Sobre este site</h2>
    <p>Los geht's!</p>
    <p>Com grande satisfação, permita-me apresentar-me como Gabriel Dias, estudante de graduação em Engenharia Mecatrônica na renomada Escola Politécnica da Universidade de São Paulo (USP). É com entusiasmo e um profundo compromisso com o compartilhamento de conhecimento que criei este website.

        O motivo que me levou a estabelecer esta plataforma é a minha recente seleção pela instituição para participar de um programa de Duplo Diploma na cidade de Darmstadt, na Alemanha. Esta oportunidade única de aprimorar meu conhecimento e expandir meus horizontes acadêmicos em um cenário internacional inspirou-me a criar um espaço que possa servir como uma fonte valiosa de informações e orientações para outros estudantes que se encontrem em circunstâncias semelhantes.
        
        A Alemanha, um país conhecido por sua excelência acadêmica, rica herança cultural e avanços tecnológicos, será o palco de nossa jornada acadêmica. No entanto, reconheço que enfrentar um novo sistema educacional e adaptar-se a uma nova cultura pode ser desafiador. Portanto, através deste website, almejo fornecer um guia abrangente que não apenas aborde o processo de candidatura e admissão, mas também ofereça insights sobre a vida na Alemanha, dicas práticas de integração e sugestões para uma experiência acadêmica enriquecedora.
        
        À medida que esta plataforma evolui, pretendo compartilhar informações atualizadas sobre os procedimentos burocráticos, requisitos de proficiência em idioma, opções de acomodação, atividades culturais imperdíveis na Alemanha e estratégias para o sucesso acadêmico. Além disso, estou ansioso para apresentar relatos pessoais de minhas próprias experiências no exterior e insights que possam ajudar a comunidade de estudantes de intercâmbio.
        
        Acredito firmemente que a educação transcende fronteiras e que a aprendizagem não se limita apenas às salas de aula, mas também à imersão em novos ambientes e à absorção de diferentes perspectivas. Assim, convido todos os interessados nesta emocionante jornada a acompanharem este site em sua evolução e a contribuírem com suas próprias experiências e conhecimentos.
        
        Nossa missão é construir uma comunidade de estudantes de intercâmbio dedicados a facilitar a transição para estudar no exterior, criando uma rede de apoio e compartilhando informações valiosas. Espero que este website seja uma fonte de inspiração e orientação para aqueles que embarcarão nesta incrível aventura acadêmica em Darmstadt e além.
        
        Fico à disposição para qualquer dúvida ou sugestão que possam surgir ao longo deste percurso emocionante. Juntos, podemos tornar esta jornada educacional no exterior ainda mais gratificante e enriquecedora.
        
        Atenciosamente,
        
        Gabriel Dias</p>
{% endblock content %}
