

{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-black"> Está página é para você que pretende fazer ou já esta fazendo Duplo Diploma na Alemanha! </h3>
          <p class="text-dark">Los geht's! </p>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
  <h>Este blogo está aqui para te trazer todas as informações que você precisa para seu DD!</h>
</body>
    {% block sidebar %} 
    {% include 'app/sidebar.html' %} 
    {% endblock sidebar %}
</div>
{%endblock%}
