{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> Me Chamo Gabriel Dias e desenvolvi esta página no intuito de auxiliar aqueles que pretendem fazer Duplo Diploma com a Escola Politécnica da USP. </p>
      <a href="https://pmr3304-12624565.e.usp.br/ep" class="btn btn-danger">Para saber mais!</a>
      <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Caso queira ver o repositório!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}